<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/custom.css" >

</head>
<body>

    <nav class="navbar navbar-expand-sm  navbar-dark" id="cust1">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contactus.html">CONTACT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="signup.html">SIGN UP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html">LOGIN</a>
            </li>
        </ul>
    </nav>
                        
    <div class="jumbotron jumbotron-fluid" id="cust2">
            <h1 class="text-white">Login</h1>
    </div>
    
    <div class="container text-center jumbotron jumbotron-fluid" id="cust3">

            <form action="#" method="POST" onsubmit="return validatelogin(this)">
       
                <div class="form-group row">
                    <label class="col-sm-4">Name:</label>
                    <div class="col-sm-6">
                       <input type="text" class="form-control" name="username" placeholder="UserName" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4">Password:</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Login</button>
       
            </form>



    </div>

    <script src="js/login.js"></script>
</body>
</html>